@model IEnumerable<WebRecommend.Models.AppUser>

<div class="container p-3">
    <div class="row">
        <h2 class="text-alert-info pl-3">@Localizer["UsersTitle"]</h2>
    </div>
    <table id="dataTable" class="table table-bordered w-100">
        <thead>
            <tr>
                <td class="text text-monospace col">@Localizer["Id"]</td>
                <td class="text text-monospace col">@Localizer["Name"]</td>
                <td class="text text-monospace col">@Localizer["Email"]</td>
                <td class="text text-monospace col">@Localizer["Reputation"]</td>
                <td class="text text-monospace col">@Localizer["IsEmailConfirmed"]</td>
                <td class="text text-monospace col">@Localizer["IsLockout"]</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <th scope="row">@obj.Id</th>
                    <td>@obj.FullName</td>
                    <td>@obj.Email</td>
                    <td>@obj.Reputation</td>
                    <td>@obj.EmailConfirmed</td>
                    <td>@obj.LockoutEnabled</td>
                    <td class="text-center">
                        <div class="btn-group" role="group">
                            <a asp-controller="Profile" asp-route-Id="@obj.Id" asp-action="Index" class="btn btn-primary text-center">@Localizer["ToProfileBtn"]</a>
                            <a asp-route-userId="@obj.Id" asp-action="UsersEditRole" class="btn btn-primary text-center">@Localizer["EditRoleBtn"]</a>
                            <a asp-route-userId="@obj.Id" asp-action="UsersDelete" class="btn btn-danger text-center">@Localizer["DeleteUserBtn"]</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts{
<script src="~/js/SetDataTable.js"></script>
}
