@model WebRecommend.Models.ViewModels.ProfileVM


@if (Model.AppUser.LockoutEnabled)
{
    <h1><del>@Model.AppUser.FullName</del> <i class="bi bi-caret-up"></i>@Model.AppUser.Reputation</h1>
    <p>@Localizer["UserDeletedInfo"]</p>
}
else
{
    <h1>@Model.AppUser.FullName <i class="bi bi-caret-up"></i>@Model.AppUser.Reputation</h1>
}

@if (Model.Article.Count() > 0)
{
    <table id="dataTable" class="table table-bordered w-100">
        <thead>
            <tr>
                <td class="text text-monospace col">@Localizer["Title"]</td>
                <td class="text text-monospace col">@Localizer["CreateDate"]</td>
                <td class="text text-monospace col">@Localizer["Category"]</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model.Article)
            {
                <tr>
                    <th scope="row">@obj.Title</th>
                    <td>@obj.CreateDate.ToShortDateString()</td>
                    <td>@obj.Category.Name</td>
                    <td class="text-center">
                        <div class="btn-group" role="group">
                            <a asp-controller="Home" asp-route-Id="@obj.Id" asp-action="Details" class="bi bi-book btn btn-primary text-center">@Localizer["ReadArticle"]</a>
                            @if (Model.CurrUser.Id == obj.User.Id || User.IsInRole("admin"))
                            {
                                <a asp-controller="Article" asp-route-Id="@obj.Id" asp-action="Change" class="bi bi-pencil btn btn-primary text-center"></a>
                                <a asp-controller="Article" asp-route-Id="@obj.Id" asp-action="Delete" class="bi bi-trash btn btn-danger text-center"></a>
                            }
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}
@section Scripts{
<script src="~/js/SetDataTable.js"></script>
}
