@model WebRecommend.Models.ViewModels.ArticleVM

<form method="post" enctype="multipart/form-data">
    @if (Model.Article.Id != 0)
    {
        <input asp-for="Article.Id" hidden />
        <input asp-for="Article.CreateDate" hidden />
    }
    <div class="border p-3 background">
        <div class="form-group row">
        </div>
        <div class="row">
            <div class="col-8">
                @if (User.IsInRole("admin"))
                {
                    <div class="row form-floating mb-3">
                        <div class="col-4">
                            <label asp-for="Article.UserId"></label>
                        </div>
                        <div class="col-8">
                            <select asp-for="Article.UserId" asp-items="@Model.UsersSelectList" class="form-select">
                                <option disabled selected>@Localizer["SelectUserTitle"]</option>
                            </select>
                            <span asp-validation-for="Article.UserId" class="text-danger"></span>
                        </div>
                    </div>
                }
                else
                {
                    <input asp-for="Article.UserId" hidden />
                }
                <div class="form-group row mb-3">
                    <div class="col-4">
                        <label asp-for="Article.Title"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Article.Title" class="form-control" />
                        <span asp-validation-for="Article.Title" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <div class="col-4">
                        <label>@Localizer["TagsTitle"]</label>
                    </div>
                    <div class="col-8">
                        <input asp-for="ArticleTagLine" readonly class="allTags form-control mb-1" />
                        <input onkeypress="noDigits(event)" class="enterPress form-control" list="datalistOptions" id="exampleDataList" placeholder="@Localizer["TagPlaceholder"]" />
                        <datalist id="datalistOptions">
                            @foreach (var line in Model.Tags)
                            {
                                <option value="@line.Name"></option>
                            }

                        </datalist>
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <div class="col-4">
                        <label asp-for="Article.Desсription"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Article.Desсription" class="form-control" />
                        <span asp-validation-for="Article.Desсription" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row mb-3">
                    <div class="col-4">
                        <label asp-for="Article.Body"></label>
                    </div>
                    <div class="col-8">
                        <textarea asp-for="Article.Body" class="form-control summernote"></textarea>
                        <span asp-validation-for="Article.Body" class="text-danger"></span>
                    </div>

                </div>
                <div class="row form-floating mb-3">
                    <div class="col-4">
                        <label asp-for="Article.CategoryId"></label>
                    </div>
                    <div class="col-8">
                        <select asp-for="Article.CategoryId" asp-items="@Model.CategorySelectList" class="form-select">
                            <option disabled selected>--Select Category--</option>
                        </select>
                        <span asp-validation-for="Article.CategoryId" class="text-danger"></span>
                    </div>

                </div>

                <div class="form-group row mb-3">
                    <div class="col-8 offset-4 row">

                        <div class="col">
                            @if (Model.Article.Id != 0)
                            {
                                <input type="submit" class="btn btn-info w-100" value="@Localizer["UpdateBtn"]" />
                            }
                            else
                            {
                                <input type="submit" onclick="return validateInput()" class="btn btn-primary w-100" value="@Localizer["CreateBtn"]" />
                            }

                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success w-100">@Localizer["CancelBtn"]</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts
{
<partial name="_ValidationScriptsPartial" />
<script>
    $(document).ready(function() {
        $('.summernote').summernote({
            codemirror: {
                mode: 'text/html',
            },
            toolbar: [
                ['style', ['style']],
                ['font', ['bold', 'underline','italic','strikethrough', 'clear']],
                ['fontname', ['fontname']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph', 'height']],
                ['table', ['table']],
                ['insert', ['link']],
                ['view', ['hr', 'help']],
            ],
            height:250,
            callbacks: {
                    onImageUpload: function (files, editor, welEditable) {
                        uploadImageToS3ForSummerNote(files[0], editor, welEditable);
                    }
                }
        });
    });
    function uploadImageToS3ForSummerNote(file, editor, welEditable) {
        let html = $('.summernote').summernote('code');
        var url = '@Url.Action("UploadFile")';
        formData = new FormData();
        formData.append("file", file);
        $.ajax({
            type: 'POST',
            url: url,
            data: formData,
            cache: false,
            contentType: false,
            processData: false,
            success: function (data) {
                $('.summernote').summernote('code', html + '<img src="' + data.fileUrl + '"/>');
            },
            error: function (data) {
                alert(data.responseText);
            }
        });
        };
</script>
<script>
    $(document).ready(function() {
        $(".enterPress").keypress(function(e) {
            if (e.which == 32) {
                var input = $(".enterPress").val();
                if(input == " " || input == "") {
                    return false;
                }
                else {
                    var tags = $(".allTags").val().split(' ');
                    if(!tags.includes(input)) {
                        var allTag = $(".allTags").val();
                        $(".allTags").val(allTag + " " + input);
                        $(".enterPress").val('');
                    }
                    else {
                        $(".enterPress").val('');
                    }

                }
                return false;
            }
        });
    });
</script>
<script>
    function noDigits(event) {
        if ("abcdefghijklmnopqrstuvwxyz".indexOf(event.key) != -1) {
        }
        else {
            event.preventDefault();
        }
    }
</script>
}

