@using Microsoft.AspNetCore.Identity
@model IEnumerable<WebRecommend.Models.Article>
@inject UserManager<AppUser> UserManager

<div class="container background p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">@Localizer["AllArticlesTitle"]</h2>
        </div>
    </div>

    @if (Model.Count() > 0)
    {
        <table id="dataTable" class="table table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>@Localizer["Title"]</th>
                    <th>@Localizer["Creator"]</th>
                    <th>@Localizer["Category"]</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr>
                        <td width="40%">@obj.Title</td>
                        <td width="30%">@obj.User.FullName</td>
                        <td width="10%">@obj.Category.Name</td>
                        <td class="text-center">
                            <div class="btn-group" role="group">
                                <a asp-route-Id="@obj.Id" asp-action="Change" class="btn btn-primary text-right">@Localizer["EditBtn"]</a>
                                <a asp-route-Id="@obj.Id" asp-action="Delete" class="btn btn-danger text-right">@Localizer["DeleteBtn"]</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>@Localizer["NoArticles"]</p>
    }

</div>

@section Scripts{
<script src="~/js/SetDataTable.js"></script>
}
