@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@AreaLocalizer["PersonalDataTitle"]</h4>

<div class="row">
    <div class="col-md-6">
        <p>@AreaLocalizer["PersonalDataInfo"]</p>
        <p>
            <strong>@AreaLocalizer["PersonalDataWarning"]</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-primary" type="submit">@AreaLocalizer["DownloadBtn"]</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-secondary">@AreaLocalizer["DeleteBtn"]</a>
        </p>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
