@model WebRecommend.Models.ViewModels.SearchVM

@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@if (Model.Articles != null && Model.UserQuery != null && Model.Articles.Count() > 0)
{
    <h1>@Localizer["SearchBy"] "@Model.UserQuery"</h1>
    <div class="col-10 mb-2">

        @foreach (var obj in Model.Articles)
        {
            <partial name="_ArticleCard" model="obj" />
        }
    </div>
}
else if (@Model.UserQuery != null)
{
    <h1>@Localizer["NoMatch"] "@Model.UserQuery"</h1>
}
else
{
    <h1>@Localizer["EmptyQuery"]</h1>
}
