@model WebRecommend.Models.Article

<div class="p-4 mb-3 bg-light rounded blog-post">
    <form method="post">
        <h2 class="blog-post-title">@Model.Title</h2>
        <p class="blog-post-meta">@Model.CreateDate.ToString("MMMM dd, yyyy") by <a asp-route-id="@Model.User.Id" asp-controller="Profile" asp-action="Index">@Model.User.FullName</a></p>
        <p>@Html.Raw(Model.Body)</p>
        <a asp-action="Index" class="btn btn-success btn-square form-control btn-lg">Back to other articles</a>
    </form>
</div>