@model WebRecommend.Models.ViewModels.HomeVM

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="text-center">
        <div class="btn-group">
            <div class="fs-5 me-1">
                @Localizer["SortBy"]
                <a class="btn btn-outline-secondary" asp-action="Index" asp-route-sortOn="@ViewBag.DateSort">@Localizer["SortByDate"]</a>
                <a class="btn btn-outline-secondary me-5" asp-action="Index" asp-route-sortOn="@ViewBag.RatingSort">@Localizer["SortByRating"]</a>
            </div>

        </div>


        <button class="btn btn-dark filter-button" data-filter="all">@Localizer["CategoryAll"]</button>
        @foreach (var obj in Model.Categories)
        {
            <button class="btn btn-outline-secondary filter-button" data-filter="@obj.Name.Replace(" ", "_")">@obj.Name</button>
        }
    </div>
    <br />
    <div class="row">
        <div class="col-10 mb-2">
            @foreach (var prod in Model.Articles)
            {
                <partial name="_ArticleCard" model="prod" />
            }
        </div>
        <div class="col-2">
            <p class="h4 text-center">@Localizer["TagCloud"]</p>
            @foreach (var obj in Model.Tags)
            {
                <button type="button" class="btn btn-outline-warning btn-sm mb-1">@obj.Name</button>
            }
        </div>
    </div>

</div>

@section Scripts{
<script>
    $(document).ready(function(){
        $(".filter-button").click(function(){
            var value = $(this).attr('data-filter');
            if(value == "all")
            {
                $('.filter').show('1000');
            }
            else
            {
                $(".filter").not('.'+value).hide('3000');
                $('.filter').filter('.'+value).show('3000');
            }
        });
    });
</script>
}